.wholesale {
    margin: 0 auto;
    padding: 0;
    background: var(--bg, #F7F7F7);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wholesale__navigation {
    margin: 0;
    padding: 0;
    margin-top: 34px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    align-self: center;
}

.wholesale__navigation-punct {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(41, 41, 41, 0.46);
}

.wholesale__navigation-punct_active {
    color: #4E9DD3;
}

.wholesale__navigation-punct:hover {
    scale: 1.05;
}

.wholesale__promoting {
    margin: 0;
    padding: 0;
    margin-bottom: 67px;
    display: grid;
    width: 82.22%;
    grid-template-columns: 1fr 1.42fr;
    gap: 38px;
}

.promoting__img {
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 469px;
}

.promoting-information {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.promoting-information__title {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
    color: var(--292929, #292929);
    text-align: center;
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 90%;
}

.promoting-information__text {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    color: var(--292929, #292929);
    text-align: center;
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 80%;
}

.promoting-information__button-conteiner {
    margin: 0;
    padding: 0;
    margin-bottom: 41px;
    width: 70%;
    max-width: 470px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.promoting-information__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.promoting-information__button {
    margin: 0;
    padding: 0;
    width: 50%;
    max-width: 230px;
    height: 50px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 3px;
    border: 1px solid var(--4-e-9-dd-3, #4E9DD3);
    transition: scale 0.3s ease;
}

.promoting-information__button:hover {
    cursor: pointer;
    scale: 1.03;
}

.promoting-information__list-title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    max-width: 200px;
    align-self: flex-start;
}

.promoting-information__list {
    margin: 0;
    padding: 0;
    max-width: 95%;
    color: var(--292929, #292929);
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promoting-information__punct {
    margin: 0;
    padding: 0;
    text-align: start;
    list-style-type: circle;
    margin-bottom: 10px;
}

.wholesale__offers {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.offers__title {
    margin: 0;
    padding: 0;
    margin-bottom: 51px;
    max-width: 689px;
    color: var(--292929, #292929);
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.offers__list {
    margin: 0;
    padding: 0;
    margin-bottom: 113px;
    display: grid;
    width: 82.22%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 54px;
    column-gap: 32px;

}

.offers__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.offers__item-img {
    width: 90px;
    height: 90px;
    margin-bottom: 13px;
}

.offers__item-text {
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: var(--292929, #292929);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wholesale__form {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #F7EBE5;
}

.wholesale__form-title {
    margin: 0 auto;
    padding: 0;
    margin-top: 76px;
    width: 82.22%;
    color: var(--292929, #292929);
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wholesale__form-conteiner {
    margin: 0 auto;
    margin-bottom: 39px;
    margin-top: 64px;
    max-width: 1169px;
    width: 82.22%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 29px;
}

.wholesale__form-input-conteiner {
    margin: 0;
    padding: 0;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: self-start;

}

.wholesale__form-input-conteiner_tupy_comment {
    grid-column: 3;
    grid-row: 1 / span 3;
}

.wholesale__form-label {
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    max-width: 100%;
    color: var(--292929, #292929);
    font-family: Proxima Nova;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.wholesale__form-input {
    margin: 0;
    padding: 0;
    padding-left: 14px;
    border: none;
    height: 50px;
    width: 100%;
    color: var(--292929, #292929);
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
}

.wholesale__form-input_tupy_comment {
    padding-top: 10px;
    height: 100%;
    max-height: 140px;
}

.wholesale__form-error {
    height: 20px;
    max-width: 100%;
    text-align: start;
}

.wholesale__form-buttton {
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
    border: none;
    width: 254px;
    height: 50px;
    border-radius: 3px;
    background: var(--unnamed, #E7426A);
    transition: scale ease 0.5s;
}

.wholesale__form-buttton:hover {
    cursor: pointer;
    scale: 1.03;
}

.wholesale__form-buttton_disabled {
    background: #FFFFFF;
}

.wholesale__form-buttton_disabled:hover {
    cursor: default;
    scale: 1;
}

.wholesale__form-error {
    margin: 0;
    padding: 0;
    height: 28px;
    font-family: Proxima Nova;
    font-size: 12px;
    color: red;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
}


.wholesale__text-agreement {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 76px;
    max-width: 82.22%;
    font-family: Proxima Nova;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.wholesale__link-agreement {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #4E9DD3;
}

.wholesale__link-agreement:hover {
    cursor: pointer;
}

.wholesale__recommendations {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1440px;
    background: var(--bg, #F7F7F7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wholesale__recommendations-title {
    margin: 0;
    padding: 0;
    margin-top: 67px;
    margin-bottom: 25px;
    max-width: 300px;
    color: var(--292929, #292929);
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wholesale__recommendations-list {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 48px;
    max-width: 82.22%;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}

.wholesale__recommendations-item {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    max-width: 370px;
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid #EDEDF0;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.recommendations-item__title {
    margin: 0;
    padding: 0;
    max-width: 90%;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    color: var(--292929, #292929);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.recommendations-item__text {
    margin: 0;
    padding: 0;
    text-align: start;
    max-width: 90%;
    margin-left: 20px;
    margin-bottom: 30px;
    color: var(--292929, #292929);
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

.recommendations-item__partner-block {
    margin: 0;
    padding: 0;
    margin-bottom: 31px;
    max-width: 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    gap: 13px;
}

.recommendations-item__partner-text {
    margin: 0;
    padding: 0;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.partner-block__name {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: var(--292929, #292929);
    max-width: 250px;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.partner-block__position {
    margin: 0;
    padding: 0;
    color: var(--292929, #292929);
    max-width: 250px;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.partner-block__icon {
    width: 36px;
    height: 36px;
    margin-right: 23px;
}

.wholesale__logo-conteiner {
    margin: 0;
    padding: 0;
    margin-bottom: 113px;
    width: 82.22%;
    display: grid;
    column-gap: 67px;
    grid-template-columns: repeat(6, 1fr);
}

.wholesale__logo {
    margin: 0;
    padding: 0;
    max-width: 133px;
    object-fit: contain;
    object-position: center;
}