.App {
  text-align: center;
  max-width: 100%;
}

header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.header__animation {
  width: 100%;

  display: flex;
  flex-direction: row;
  background-color: #D4E9F9;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
}

.header__animation-button {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  width: 12px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.header__animation-button:hover {
  scale: 1.1;
}

.header__animation-button_type_left {
  margin-left: 10%;
  background-image: url('./image/header/Vectorleft.svg');
}

.header__animation-button_type_right {
  margin-right: 10%;
  background-image: url('./image/header/VectorRight.svg');
}

.animation-punkt {
  display: none;
}

.animation-punkt_active {
  display: flex;
  flex-direction: row;
  align-items: center;

}


.animation-punkt__backgraund {
  margin: 0;
  padding: 0;
  margin-right: 18px;
  width: 44px;
  height: 31px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.animation-punkt__backgraund_type_delivery {
  background-image: url('./image/header/delivery.svg');
}


.animation-punkt__backgraund_type_supply {
  background-image: url('./image/header/supply.svg');
}

.animation-punkt__backgraund_type_fresh {
  background-image: url('./image/header/fresh.svg');
}

.animation-punkt__backgraund_type_almond {
  background-image: url('./image/header/almond.svg');
}

.animation-punkt__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.header__navigation {
  margin: 0;
  display: flex;
  flex-direction: row;
  min-height: 48px;
  width: 100%;
  background-color: #F7EBE5;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.79);

}

.header__navigation-block {
  display: flex;
  flex-direction: row;
  margin-left: 10%;

}

.header__navigation-link {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 14px;
  max-width: 123px;
  word-wrap: break-word;
}

.header__location-block {
  margin: 0;
  padding: 0;
  margin-left: 81px;
  margin-right: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__location-img {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-image: url(./image/header/Vector.svg);
  width: 14px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header__location-name {
  margin: 0;
  padding: 0;
  max-width: 111px;

}

.header__phone {
  margin: 0;
  padding: 0;
  margin-right: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__phone-img {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-image: url(./image/header/phone.svg);
  width: 11px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__navigation-basket {
  margin: 0;
  padding: 0;
  text-decoration: none;

}

.header__basket {
  margin: 0;
  padding: 0;
  margin-right: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 0.79);
  text-decoration: none;

}

.header__basket-img {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-image: url(./image/header/корзина.svg);
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.header__basket-name {
  text-decoration: none;
  text-decoration-line: none;
}

.header__basket-quantity {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
  min-width: 13px;
  max-width: 26px;
  border-radius: 50%;
  background-color: #000000;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.header__sotial-block {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.header__sotial-link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 12px;
  margin-right: 18px;
}

.header__sotial-link:hover {
  scale: 1.1;
}

.header__sotial-link_type_tg {
  background-image: url('./image/header/телеграм.svg');
}

.header__sotial-link_type_vk {
  background-image: url('./image/header/контакт.svg');
}

.header__sotial-link_type_ok {
  background-image: url('./image/header/одноклассники.svg');
}

.header__importent-navigation {
  display: flex;
  flex-direction: row;
}

.header__importent-navigation {
  margin: 0;
  padding: 0;
  display: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__importent-navigation-block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #2B1414;
}

.header__importent-navigation-link {
  margin: 0;
  padding: 0;
  margin-right: 43px;
  max-width: 157px;
  word-wrap: break-word;
}

.header__importent-navigation-link:last-child {
  margin-right: 0;
}

.header__logo {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./image/header/логотип.svg');
  width: 124px;
  height: 124px;
  margin-top: 18px;
  margin-bottom: 17px;

}

.page {
  max-width: 100%;
  overflow-x: hidden;
}

.love {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  background: #F7F7F7;
  z-index: 2;

}

.love__img {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 12%;
  margin-right: 8%;
  margin-bottom: 60px;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./image/Love/hard.png');
  width: 29.3vw;
  height: 29.3vw;
  position: relative;
  z-index: 1;
}

.love__img-group {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.love__img-group_type_one {
  background-image: url('./image/Love/macaron1.png');
  width: 20%;
  height: 20%;
  top: 0;
  left: 100%;
}

.love__img-group_type_two {
  background-image: url('./image/Love/лист2.png');
  width: 10%;
  height: 10%;
  top: 30%;
  left: 110%;

}

.love__img-group_type_three {
  background-image: url('./image/Love/миндаль3.png');
  width: 7%;
  height: 7%;
  top: 50%;
  left: 100%;

}

.love__img-group_type_four {
  background-image: url('./image/Love/макарон4.png');
  width: 20%;
  height: 20%;
  top: 70%;
  left: 100%;
}

.love__img-group_type_five {
  background-image: url('./image/Love/миндаль5.png');
  width: 7%;
  height: 7%;
  top: 90%;
  left: 80%;

}

.love__img-group_type_six {
  background-image: url('./image/Love/миндаль6.png');
  width: 7%;
  height: 7%;
  top: 90%;
  left: 40%;
}

.love__img-group_type_seven {
  background-image: url('./image/Love/макарон7.png');
  width: 20%;
  height: 20%;
  top: 80%;
  left: 0;
}

.love__img-group_type_eight {
  background-image: url('./image/Love/лист8.png');
  width: 15%;
  height: 15%;
  top: 60%;
  left: -5%;
}

.love__img-group_type_nine {
  background-image: url('./image/Love/макарон9.png');
  width: 20%;
  height: 20%;
  top: 20%;
  left: -20%;
}

.love__img-group_type_ten {
  background-image: url('./image/Love/миндаль10.png');
  width: 7%;
  height: 7%;
  top: 10%;
  left: 4%;
}

.love__img-group_type_eleven {
  background-image: url('./image/Love/макарон11.png');
  width: 20%;
  height: 20%;
  top: -5%;
  left: 25%;
}

.love__img-group_type_twelve {
  background-image: url('./image/Love/миндаль12.png');
  width: 7%;
  height: 7%;
  top: -5%;
  left: 60%;
}

.love__exlips {
  width: 19vw;
  height: 19vw;
  max-width: 268px;
  max-height: 268px;
}

.love__exlips_type_one {
  position: absolute;
  background: rgba(111, 217, 251, 0.6);
  filter: blur(50px);
  top: 100px;
  left: 150px;
  transform: translate(70%, -15%);
  z-index: -1;
}

.love__exlips_type_two {
  position: absolute;
  background: rgba(255, 168, 241, 0.6);
  filter: blur(50px);
  top: 250px;
  left: -50px;
  transform: translate(70%, -15%);
  z-index: -1;
}


.love__exlips_type_three {
  position: absolute;
  background: rgba(255, 168, 241, 0.37);
  filter: blur(50px);
  top: 150px;
  left: 50%;
  transform: translate(70%, -15%);
  z-index: -1;

}

.love__exlips_type_four {
  position: absolute;
  background: rgba(200, 222, 255, 0.37);
  filter: blur(50px);
  transform: translate(70%, -15%);
  top: 300px;
  left: 50%;
  z-index: -1;
}

.love__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.love__name {
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
  max-width: 230px;
  word-wrap: break-word;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.love__text-name {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #292929;
  text-align: center;
}



.love__title {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 13px;
  max-width: 431px;
  word-wrap: break-word;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  color: #292929;
}

.love__text {
  margin: 0;
  padding: 0;
  max-width: 499px;
  word-wrap: break-word;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #292929;
}

.navigation {
  max-width: 100%;
  background-color: #F7F7F7;
  margin-left: 8%;
  margin-right: 8%;
}

.navigation__block {
  margin: 0;
  padding: 0;
  margin-top: 51px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 30px;
}

.navigation__punkt {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.navigation__punkt:hover {
  scale: 1.02;
}

.navigation__punkt-link {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.navigation__punkt-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-top: 36px;
  margin-bottom: 20px;
}

.navigation__punkt-title {
  margin: 0;
  padding: 0;
  max-width: 372px;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

}

.navigation__punkt-text {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 25px;
  max-width: 463px;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

}

.navigation__punkt_type_one {
  background-image: url('./image/navigation/Фон1.png');
}

.navigation__punkt_type_two {
  background-image: url('./image/navigation/фон2.png');
}

.navigation__punkt_type_three {
  background-image: url('./image/navigation/фон3.png');
}

.navigation__punkt_type_four {
  background-image: url('./image/navigation/фон4.png');
}

.navigation__punkt_type_five {
  background-image: url('./image/navigation/фон5.png');
}

.navigation__punkt_type_six {
  background-image: url('./image/navigation/фон6.png');
}

.navigation__punkt-img_type_one {
  background-image: url('./image/navigation/iconфон1.svg');
}

.navigation__punkt-img_type_two {
  background-image: url('./image/navigation/iconФон2.svg');
}

.navigation__punkt-img_type_three {
  background-image: url('./image/navigation/iconфон3.svg');
}

.navigation__punkt-img_type_four {
  background-image: url('./image/navigation/iconФон4.svg');
}

.navigation__punkt-img_type_five {
  background-image: url('./image/navigation/iconфон5.svg');
}

.navigation__punkt-img_type_six {
  background-image: url('./image/navigation/iconФон6.svg');
}

.promotion {
  margin: 0;
  padding: 0;
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion__title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  max-width: 250px;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #292929;
}

.promotion__block {
  display: flex;
  flex-direction: row;
  max-width: 83%;
  overflow: scroll;
}

.promotion__block::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  display: none;
}

.promotion__block::-webkit-scrollbar-track {
  background: transparent;
}

.promotion__block::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}


.promotion__block {
  scrollbar-width: none;
  gap: 30px;
}

.promotion__block::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.promotion__card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.promotion__card-img {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 270px;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.promotion__card-info {}

.promotion__card-name {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  max-width: 200px;
  padding: 4px 10px 4px 15px;
  border-radius: 0px 10px 10px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background-color: aqua;
}

.promotion__card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 110px;
  width: 270px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #8CC4EC;
  border-radius: 0px 0px 5px 5px;

}

.promotion__scroll-block {
  align-self: flex-end;
  margin-right: 10%;
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  max-width: 100px;
}

.promotion__scroll {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: #000000 2px solid;
}

.promotion__scroll_type_active {
  background: #E7426A;
}

.holidays {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.holidays__title {
  margin: 0;
  padding: 0;
  max-width: 382px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #292929;
  margin-top: 93px;
}

.holidays__block {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 67px;
  margin-bottom: 108px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;

}



.holidays__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.holidays__block::after {
  content: '';
  position: absolute;
  width: 80%;
  bottom: 105px;
  border: 2px dashed #D2D2D2;
  opacity: 0.5;
  z-index: 1;
}

.holidays__img {
  margin: 0;
  padding: 0;
  width: 51px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 2;
}

.holidays__item_type_important {
  position: relative;
}

.holidays__img_type_important {
  position: absolute;
  top: -16%;
  left: 46%;
}


.holidays__name {
  margin: 0;
  padding: 0;
  min-height: 70px;
  margin-top: 22px;
  max-width: 170px;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #292929;
  align-self: flex-start;

}

.popular-sets {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

.popular-sets__title {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  max-width: 340px;
  font-weight: 600;
  word-wrap: break-word;
  font-size: 30px;
  line-height: 37px;
  color: #292929
}

.popular-sets__block {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  margin-bottom: 35px;
}

.popular-sets__block div:nth-child(n+7) {
  display: none;
}

.popular-sets__block-open div:nth-child(n+7) {
  display: flex;

}

.product__card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #EDEDF0;
}

.product__img {
  margin: 0;
  padding: 0;
  max-width: 25.69%;
  object-fit: cover;
  object-position: center;

}

.product__title {
  margin: 0;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 14px;
  margin-left: 21px;
  max-width: 340px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #292929;
}

.product__description {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  margin-left: 21px;
  max-width: 340px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  opacity: 0.8;
  text-align: start;
}

.product__buy-block {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #EDEDF0;
}

.product__price {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-right: 72px;
  padding-left: 21px;
  text-align: start;
  word-wrap: break-word;
  width: 127px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #E7426A;
}

.buy-button {
  margin: 0;
  padding: 0;
  width: 148px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  border-left: 1px solid #EDEDF0;
  transition: 1s;

}

.buy-button:hover {
  background: #D4E9F9;
}

.buy-button__basket-img {
  background-image: url(./image/header/корзина.svg);
  width: 14px;
  height: 19px;
  margin: 13px 11px 18px 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.buy-button__text {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  word-wrap: none;
  color: rgba(0, 0, 0, 0.88);
}

.button {
  margin: 0;
  padding: 0;
  border: 1px solid #4E9DD3;
  border-radius: 3px;
  width: 293px;
  height: 52px;
  background: #F7F7F7;
  cursor: pointer;
  transition: 1s;
}

.button:hover {
  background: #D4E9F9;
}


.product__card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #EDEDF0;
}

.product__img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;

}

.product__title {
  margin: 0;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 14px;
  margin-left: 21px;
  max-width: 340px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #292929;
}

.product__description {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  margin-left: 21px;
  max-width: 340px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  opacity: 0.8;
  text-align: start;
}


.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}


.news__block {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  margin-bottom: 35px;
}

.news__block div:nth-child(n+4) {
  display: none;
}

.news__block-open div:nth-child(n+4) {
  display: flex;
}


.news__card {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
  border: 2px solid #EDEDF0;
  border-radius: 0px 0px 5px 5px;

}

.news__card-img {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: auto;
  object-fit: cover;
  object-position: center;

}

.news__card-title {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 340px;
  font-weight: 600;
  word-wrap: break-word;
  font-size: 30px;
  line-height: 37px;
  color: #292929;
  margin-left: 20px;
}

.news__card-description {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 340px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #292929;
  margin-left: 20px;
}

.news__card-time {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  max-width: 100px;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #969696;
}


.care {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-bottom: 37px;
}

.care__title {
  margin: 0;
  padding: 0;
  margin-top: 103px;
  margin-bottom: 40px;
  max-width: 442px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #292929
}


.care__block {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
  margin-bottom: 35px;

}


.care__card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
  border: 2px solid #EDEDF0;
  border-radius: 0px 0px 5px 5px;
  margin-right: 30px;
}

.care__card-img {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: auto;
  object-fit: cover;
  object-position: center;

}

.care__card-title {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 250px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  margin-left: 20px;
}

.care__card-description {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 250px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  opacity: 0.8;
  margin-left: 20px;
}

.footer {
  padding-top: 58px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1440px;
  background: #EBEDEE;
}

.footer__advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  margin-right: 30px;
}

.footer__advantage-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 54px;
}

.footer__advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 140px;
  margin-right: 19px;
}

.footer__advantage-img {
  max-width: 45px;
  max-height: 39px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 14px;
}

.footer__advantage-text {
  margin: 0;
  padding: 0;
  max-width: 140px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  text-align: center;
  color: #292929;
}

.footer__copirait {
  margin: 0;
  padding: 0;
  max-width: 370px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #292929;
  opacity: 0.7;
}

.footer__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.footer__information-title {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  max-width: 116px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #292929;
  align-self: flex-start;
}

.footer__information-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__information-link {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  cursor: pointer;
  text-decoration: none;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__link {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 30px;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link-punct {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  cursor: pointer;
  text-decoration: none;
}


.footer__link-text {
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
  max-width: 165px;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #292929;
}

.footer__link-punct_type_phone {
  margin: 0;
  padding: 0;
  width: 151px;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  text-align: right;
  color: #292929;
  margin-bottom: 5px;
  word-wrap: break-word;
}


.footer__link-img {
  width: 40px;
  height: 40px;
}


.footer__navigation_typy_icon {
  display: flex;
  flex-direction: row;
}

/*корзина  */

.basket {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #E5E5E5;
}

.basket__buy-block {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 81.25%;
  /* margin-left: 9.375%;*/
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.basket__navigation-block {
  margin: 0;
  padding: 0;
  margin-top: 34px;
}

.basket__navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
}

.basket__navigation-punct {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(41, 41, 41, 0.46);
}

.basket__navigation-punct_active {
  color: #4E9DD3;
}

.basket__navigation-punct:hover {
  scale: 1.05;
}

.basket__title {
  margin: 0;
  padding: 0;
  max-width: 230px;
  margin-top: 27px;
  margin-bottom: 9px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #292929;
}

.basket__info {
  margin: 0;
  padding: 0;
  max-width: 288px;
  margin-bottom: 34px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #292929;
  opacity: 0.7;

}




.goods-list {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 670px;
  margin-right: 30px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #EDEDF0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.Goods-list__product-item {
  margin: 0;
  padding: 0;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #EDEDF0;

}

.product-item__img {
  width: 80px;
  height: 80px;
  margin-top: 35px;
  margin-right: 15px;
  padding-bottom: 39px;
  object-fit: cover;
  object-position: center;
}

.product-item__information {
  margin: 0;
  padding: 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 201px;

}

.product-item__title {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
}

.product-item__tastes-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: start;
}

.product__button-container {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: center;
}


.product__button-quantity {
  border: none;
  background: none;
  cursor: pointer;
}

.product__quantity {
  margin: 0;
  padding: 0;
  margin-left: 14px;
  margin-right: 14px;
}

.product-price {
  margin-right: 32px;
  width: 25%;
}

.basket__total-price_conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 26px;
  margin-right: 26px;
}

.basket__total-price_text {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  max-width: 408px;
}

.basket__total-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #E7426A;
  margin-bottom: 33px;
}

.basket__buy {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.basket__order-block {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  width: 36%;
  max-width: 473px;
  max-height: 407px;
  border-radius: 5px;
  border: 1px solid #EDEDF0;
  background: #FFF;
}

.order-block__title {
  margin: 0;
  padding: 0;
  text-align: start;
  margin-left: 30px;
  margin-top: 29px;
  margin-bottom: 10px;
  max-width: 300px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #292929;

}

.order-block__info-list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-block__info-punkt {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.info-punkt__text {
  margin: 0;
  padding: 0;
  max-width: 229px;
  color: #292929;
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.8;
}

.info-punkt__price {
  margin: 0;
  padding: 0;
  max-width: 100px;
  color: #292929;
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.order-block__total-price {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  margin-left: 30px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #EDEDF0;
  border-top: solid 1px #EDEDF0;
}

.total-price__price {
  margin: 0;
  padding: 0;
  max-width: 120px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.total-price__text {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 229px;
  color: #292929;
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

}

.order-block__form {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-block__form-conteiner {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-block__form-text {
  margin: 0;
  padding: 0;
  margin-right: 13px;
  color: var(--292929, #292929);
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.8;
}

.order-block__input-conteiner {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--ededf-0, #EDEDF0);
  background: #F7F7F7;
}

.order-block__input {
  margin: 0;
  padding: 0;
  width: 70%;
  text-align: left;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 13px;
  border: none;
  background: #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
}

.order-block__input:focus {
  outline: none;
  border-bottom: 1px solid #E7426A;
}

.order-block__input-button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 30%;
  max-width: 118px;
  border: none;
  background-color: #E7426A;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.order-block__form-button {
  margin: 0;
  padding: 0;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 31px;
  border: none;
  width: 254px;
  height: 50px;
  background-color: #E7426A;
  border-bottom: 1px solid #E7426A;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  transition: scale 0.3s ease;
}

.order-block__form-button:hover {
  cursor: pointer;
  scale: 1.05;
}

.order-block__form-error {
  margin: 0;
  padding: 0;
  margin-left: 110px;
  margin-top: 5px;
  width: 98%;
  height: 24px;
  font-family: Montserrat;
  color: red;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  margin-left: 5px;
}


.dilivery {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 670px;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
}

.basket__dilivery-title {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  max-width: 280px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #292929;
}

.basket__dilivery-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #292929;
  opacity: 0.7;
}

.basket__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.basket__form-conteiner {
  width: 100%;
  max-width: 670px;
}

.basket__checkbox-box {
  margin: 0;
  padding: 0;
}

.basket__input-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 670px;

}


.basket__input-conteiner {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 670px;

}

.basket__form-label {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  text-align: start;
}

.basket__form-input {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 50px;
  margin-right: 14px;
  width: 98%;
  margin-bottom: 5px;
}

.basket__form-error {
  margin: 0;
  padding: 0;
  width: 98%;
  height: 24px;
  color: red;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: start;
  margin-left: 5px;
}

.basket__form-input_typy_phone {
  margin-right: 0;
  margin-left: 7px;
}

.basket__form-button {
  margin: 0;
  padding: 0;
  width: 95%;
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 14px;
  margin-bottom: 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #FFFFFF;
}


.basket__form-button_on {
  border: #E7426A solid 1px;
}

.basket__form-button_tupe_free {
  margin-top: 22px;
  margin-right: 0;
}

.basket__form-button-img {
  width: 54px;
  height: 54px;
  margin-left: 24px;
  object-fit: contain;
  object-position: center;
  margin-right: 18px;
}

.basket__form-button-text {
  margin: 0;
  padding: 0;
  text-align: start;
  margin-bottom: 4px;
  max-width: 160px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
}

.basket__form-button-price {
  margin: 0;
  padding: 0;
  text-align: start;
  max-width: 160px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #E7426A;
}

.basket__form-input_typy_address {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-left: 5px;
  width: 100%;
  max-width: 665px;
  height: 76px;
  margin-bottom: 5px;
}

.basket__form-input_typy_date {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  height: 50px;
  margin-right: 14px;
  width: 96%;
}

.basket__form-input_typy_time {
  margin-right: 0;
  margin-left: 7px;
}

.basket__form-input_typy_comments {
  height: 108px;
  padding-left: 5px;
  padding-top: 5px;
  width: 100%;
  max-width: 665px;
  margin-right: 0;
}

.basket__checkbox-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 42px;
  width: 100%;
  max-width: 670px;

}

.basket__checkbox-conteiner {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  margin-top: 21px;
  margin-bottom: 25px;
  width: 250px;

}


.basket__form-checkbox {
  position: absolute;
  z-index: -1;
}

.basket__form-checkbox-label {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  user-select: none;
  text-align: center;
  color: #000;
  max-width: 220px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.basket__form-checkbox-label:last-child {
  margin-right: 0;

}

.basket__form-checkbox-label:hover {
  cursor: pointer;
}

.basket__form-checkbox-label::before {
  content: '';
  border: 1px solid rgba(41, 41, 41, 0.10);
  background: #FFFFFF;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;

}

.basket__form-checkbox:checked+.basket__form-checkbox-label::before {
  width: 18px;
  height: 18px;
  background: #E7426A;
  background-image: url("./image/VectorCheckbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

}

.basket__final-price {
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #292929;
  border-top: solid 1px #292929;
}

.basket__final-price-text {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #292929;
  font-family: Proxima Nova;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 300px;
}

.basket__final-price-price {
  margin: 0;
  padding: 0;
  max-width: 150px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #E7426A;
}

.button__order-goods {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  border: none;
  width: 254px;
  height: 50px;
  background-color: #E7426A;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  transition: scale 0.3s ease;
}

.button__order-goods:hover {
  cursor: pointer;
  scale: 1.05;
}

.basket__text-agreement {
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  width: 100%;
  max-width: 670px;
  font-family: Proxima Nova;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.basket__link-agreement {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #4E9DD3;
}

.basket__link-agreement:hover {
  cursor: pointer;
}

.basket__product {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.basket__product-title {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  margin-top: 22px;
  color: var(--292929, #292929);
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.basket__product-conteiner {
  margin: 0;
  padding: 0;
  margin-bottom: 112px;
  position: relative;
  max-width: 98%;
}

.product-conteiner__button {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(51, 51, 51, 0.39);
  color: fff;
  position: absolute;
  top: 85px;
  cursor: pointer;
  transition: scale 0.3s ease;
}

.product-conteiner__button:hover {
  scale: 1.05;
}

.product-conteiner__button_type_left {
  left: 0;
  margin-left: -24px;

}

.product-conteiner__button_type_right {
  right: 0;
  margin-right: -24px;

}

.basket__product-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  overflow: hidden;
}

.product__card-basket {
  margin: 0;
  padding: 0;
  max-width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #EDEDF0;
}

.product__img-basket {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 211px;
  object-fit: cover;
  object-position: center;

}

.product__title-basket {
  margin: 0;
  padding: 0;
  margin-top: 22x;
  margin-bottom: 10px;
  margin-left: 21px;
  max-width: 232px;
  color: var(--292929, #292929);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.product__description-basket {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  margin-left: 21px;
  max-width: 232px;
  color: var(--292929, #292929);
  font-family: Proxima Nova;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  text-align: start;
}

.product__buy-block-basket {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #EDEDF0;
}

.product__price-basket {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-right: 14px;
  padding-left: 21px;
  align-items: center;
  text-align: start;
  word-wrap: break-word;
  width: 97px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #E7426A;
}